.header {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: var(--Colors-Neutral-100);
  border-bottom: 1px solid #E0E0E0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoLink {
  display: flex; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: auto;
}

.logo {
  width: 50px;
  height: 50px;
  display: block;
}

@media (max-width: 600px) {
  .header {
    height: 56px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}